# Emacs backup files
*~

# straight.el's directory for packages
/straight

# special directories and files that shouldn't be tracked
/config/my-local.el
/lisp/local

# directories generated automatically by some utilities in Emacs
/url
/games
/image-dired
/tramp
/kkcrc
/network-security.data
/eshell
/eln-cache
/.sx
/projects
